<!DOCTYPE html>
<html>
  <head>
    <title>Blog :: index</title>
  </head>
  <body>
    <section id="content">
      <div class="post-block">
        <div class="article-header">
          <div class="article-title">¡Hola mundo!</div>
          <p>
            <span class="date">¡Fecha!</span>
          </p>
        </div>

        <div class="entry-content">
          ¡El cuerpo!
        </div>
      </div>
    </section>
  </body>
</html>
