<!DOCTYPE html>
<html>
  <head>
    <title>Blog :: index</title>
    <link type="text/css"
          href="{{ cssfile }}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <section id="content">
        {% for post in posts %}
        <div class="post-block">
          <div class="article-header">
            <div class="article-title"><a href="{{ post.url }}" rel="bookmark">{{
            post.title }}</a></div>
            <p>
              <span class="date">{{ post.date }}</span>
            </p>
          </div>

          <div class="entry-content">
            {{ post['body'] }}
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
    <ul class="pager">
      <li class="previous disabled">
        <a href="http://localhost:8080/{{ newer }}">&laquo; nuevos</a>
      </li>
      <li class="next">
        <a href="http://localhost:8080/{{ older }}">anteriores
        &raquo;</a>
      </li>
    </ul>
  </body>
</html>
