body .container{
	max-width:900px;
	margin-left:auto;
	margin-right:auto
}

.branding{
	text-align:center;
	display:block
}

.branding div,.branding body{
	font-family:"Exo","Helvetica","Open Sans","Arial",sans-serif;
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:1em
}

@media(min-width:900px){
	.branding div,.branding body{
		display:inline-block
	}

}

.branding div img,.branding body img{
	margin:0;
	height:1em
}

@media screen and (min-width:900px){
	.branding div img,.branding body img{
		height:1.25em
	}

}

.branding div.logo,.branding body.logo{
	font-size:.75em
}

div,p,body{
	font-family:"Monda","Helvetica","Open Sans","Arial",sans-serif;
	text-align:left
}

@media(min-width:768px){
	div,p,body{
		text-align:justify
	}

}

body{
	padding-bottom:20px;
	background:#F8F8F8
}

@media(min-width:900px){
	body{
		padding-top:20px
	}

}

blockquote p:first-child{
	padding-top:0
}

blockquote{
	color:#342CA0;
	font-weight:bold;
	font-style:italic;
	padding-top:0;
	padding-bottom:0;
	padding-left:1em;
	padding-right:1em;
	margin-left:1.7em;
	margin-right:1.7em;
	margin-bottom:0;
	margin-top:1em;
	border:1px solid rgba(0,0,255,0.1);
	background-color:rgba(0,0,255,0.05);
	border-radius:.25em
}

code,pre{
	border:1px solid #D6D3D7;
	border-radius:6px;
	overflow:auto;
	line-height:1.5;
	font-size:.9em;
	font-family:"Inconsolata","Menlo",Monospace;
	background:#ffe
}

pre{
	padding:7px
}

.highlight pre{
	background:#ffe;
	word-break:keep-all;
	overflow:auto;
	word-wrap:normal;
	white-space:pre
}

.codepre,table.highlighttable td.linenos pre,table.highlighttable td.code pre{
	font-size:.75em;
	white-space:pre
}

table.highlighttable{
	right:0;
	min-width:0;
	display:block;
	padding-top:16px
}

table.highlighttable td.linenos{
	border:0;
	margin:0;
	padding:0;
	text-align:right;
	min-width:0;
	overflow:auto;
	display:none;
	float:left
}

table.highlighttable td.linenos pre{
	margin:0;
	min-width:0;
	word-break:keep-all;
	word-wrap:normal
}

@media screen and (min-width:900px){
	table.highlighttable td.linenos{
		display:block
	}

}

table.highlighttable td.code{
	border:0;
	margin:0;
	padding:0;
	display:block;
	right:0
}

table.highlighttable td.code pre{
	min-width:3em;
	overflow:auto;
	word-wrap:normal
}

table.highlighttable tr{
	border:0;
	margin:0;
	padding:0;
	right:0;
	display:block
}

table.highlighttable tbody{
	border:0;
	margin:0;
	padding:0;
	right:0;
	display:block
}

.pager a,.article-title a,.header a,.article-title a{
	color:#000
}

.pager a{
	font-weight:bold
}

.article-title a{
	font-size:2em;
	text-decoration:none;
	font-weight:bold;
	font-family:"Exo","Helvetica","Open Sans","Arial",sans-serif
}

.header{
	color:#000;
	background-color:#FFF;
	border:1px solid #D6D3D7;
	border-radius:6px;
	margin-bottom:1em;
	font-family:"Exo","Helvetica","Open Sans","Arial",sans-serif
}

@media(min-width:900px){
	.header .row{
		padding-top:1em;
		padding-bottom:1em
	}

}

.header .tag-label{
	font-size:2em;
	font-weight:lighter
}

@media screen and (min-width:900px){
	.header .user-icon{
		padding:0 .25em
	}

}

.header-span,.header a,.header span{
	font-size:2.4em;
	line-height:1.5em;
	font-weight:bold;
	text-decoration:none
}

.navbar-nav{
	font-size:6.5px;
	display:block;
	text-align:center;
	clear:both
}

.navbar-nav li{
	display:inline-block;
	font-style:italic
}

.navbar-nav li a:after{
	font-style:normal;
	content:" â‡";
	margin-left:1em;
	margin-right:1em;
	color:#c8c8c8
}

.navbar-nav li:last-child a:after{
	content:""
}

.article-title{
	line-height:1
}

.article-title,h1,h2,h3,h4,h5,h6{
	text-align:left
}

.post-block,.listform-post{
	padding:.5em 1em;
	font-size:1.2em;
	background:#FFF;
	border:1px solid #D6D3D7;
	border-radius:6px;
	word-wrap:break-word;
	margin-bottom:30px;
	color:inherit
}

@media screen and (min-width:900px){
	.post-block,.listform-post{
		padding:1.5em 3em
	}

}

.article-header{
	padding-bottom:.5em;
	border-bottom:1px solid #D8D8D8;
	margin-bottom:10px
}

.article-header>.article-title{
	padding-bottom:.5em
}

.article-header>.summary,.article-header p{
	line-height:1
}

.summary p{
	color:#505050;
	font-style:italic
}

.listform-post{
	border-bottom:1px solid #D8D8D8
}

.listform-post .article-title a{
	font-size:1.3em
}

@media screen and (min-width:900px){
	.listform-post .article-title a{
		font-size:1.5em
	}

}

.listform-post .summary p,.listform-post .date,.listform-post .tags{
	line-height:1.4
}

@media screen and (min-width:900px){
	.listform-post .summary p,.listform-post .date,.listform-post .tags{
		line-height:1.8
	}

}

.list-last{
	border:0
}

.embed{
	border:0;
	max-width:95%;
	margin:auto
}

.figure,.entry-content>p>img:first-child:last-child,.entry-content>p>a:first-child:last-child img:first-child:last-child{
	border:0;
	display:block;
	width:80%;
	margin:auto
}

p{
	padding-top:1em
}

.highlight .hll{
	background-color:#49483e
}

.highlight .c{
	color:#75715e
}

.highlight .err{
	color:#960050;
	background-color:#1e0010
}

.highlight .k{
	color:#00a8c8
}

.highlight .l{
	color:#ae81ff
}

.highlight .n{
	color:#111
}

.highlight .o{
	color:#f92672
}

.highlight .p{
	color:#111
}

.highlight .cm{
	color:#75715e
}

.highlight .cp{
	color:#75715e
}

.highlight .c1{
	color:#75715e
}

.highlight .cs{
	color:#75715e
}

.highlight .ge{
	font-style:italic
}

.highlight .gs{
	font-weight:bold
}

.highlight .kc{
	color:#00a8c8
}

.highlight .kd{
	color:#00a8c8
}

.highlight .kn{
	color:#f92672
}

.highlight .kp{
	color:#00a8c8
}

.highlight .kr{
	color:#00a8c8
}

.highlight .kt{
	color:#00a8c8
}

.highlight .ld{
	color:#d88200
}

.highlight .m{
	color:#ae81ff
}

.highlight .s{
	color:#d88200
}

.highlight .na{
	color:#75af00
}

.highlight .nb{
	color:#111
}

.highlight .nc{
	color:#75af00
}

.highlight .no{
	color:#00a8c8
}

.highlight .nd{
	color:#75af00
}

.highlight .ni{
	color:#111
}

.highlight .ne{
	color:#75af00
}

.highlight .nf{
	color:#75af00
}

.highlight .nl{
	color:#111
}

.highlight .nn{
	color:#111
}

.highlight .nx{
	color:#75af00
}

.highlight .py{
	color:#111
}

.highlight .nt{
	color:#f92672
}

.highlight .nv{
	color:#111
}

.highlight .ow{
	color:#f92672
}

.highlight .w{
	color:#111
}

.highlight .mf{
	color:#ae81ff
}

.highlight .mh{
	color:#ae81ff
}

.highlight .mi{
	color:#ae81ff
}

.highlight .mo{
	color:#ae81ff
}

.highlight .sb{
	color:#d88200
}

.highlight .sc{
	color:#d88200
}

.highlight .sd{
	color:#d88200
}

.highlight .s2{
	color:#d88200
}

.highlight .se{
	color:#8045FF
}

.highlight .sh{
	color:#d88200
}

.highlight .si{
	color:#d88200
}

.highlight .sx{
	color:#d88200
}

.highlight .sr{
	color:#d88200
}

.highlight .s1{
	color:#d88200
}

.highlight .ss{
	color:#d88200
}

.highlight .bp{
	color:#111
}

.highlight .vc{
	color:#111
}

.highlight .vg{
	color:#111
}

.highlight .vi{
	color:#111
}

.highlight .il{
	color:#ae81ff
}

@font-face{
	font-family:'Exo';
	font-style:normal;
	font-weight:700;
	src:local('Exo Bold'),local('Exo-Bold'),url(/theme/fonts/exo/v4/Pb-Tqi3xXEdTJ3ZTpmCsBw.ttf) format('truetype')
}

@font-face{
	font-family:'Monda';
	font-style:normal;
	font-weight:400;
	src:local('Monda Regular'),local('Monda-Regular'),url(/theme/fonts/monda/v4/WhvNfO27lzODDhoAPcYEXQ.ttf) format('truetype')
}
