{% extends "base.jinja2" %}
{% block content %}
        <div class="post-block">
          <div class="article-header">
            <div class="article-title">{{ post.title }}</div>
            <p>
              <span class="date">{{ post.date }}</span>
            </p>
          </div>

          <div class="entry-content">
            {{ post['body'] }}
          </div>
        </div>
{% endblock %}
{% block pager %}
{% endblock %}
