SERVE = '0.0.0.0'
HOST = 'localhost'
PORT = 8080

# mongodb configuration
DATABASE = 'blog'
DBHOST = 'localhost'
DBPORT = 27017

# templates
TEMPLATESPATH = './blog/templates'

# static
STATIC = 'static/'
